
.Rproj.user/35DCC852/rmd-outputs
.Rproj.user/35DCC852/sources/per/t/28F1FBBC
.Rproj.user/35DCC852/sources/per/t/28F1FBBC-contents
.Rproj.user/35DCC852/sources/session-AB594631/28F1FBBC
.Rproj.user/35DCC852/sources/session-AB594631/28F1FBBC-contents
.Rproj.user/35DCC852/sources/session-AB594631/lock_file
.Rproj.user/35DCC852/cpp-definition-cache
.Rproj.user/35DCC852/pcs/files-pane.pper
.Rproj.user/35DCC852/pcs/windowlayoutstate.pper
.Rproj.user/35DCC852/pcs/workbench-pane.pper
.Rproj.user/35DCC852/rmd-outputs
.Rproj.user/35DCC852/sources/prop/8BCD69BD
.Rproj.user/35DCC852/sources/prop/B3084A7F
.Rproj.user/35DCC852/sources/prop/F384C7AD
.Rproj.user/35DCC852/sources/prop/INDEX
.Rproj.user/35DCC852/sources/session-51ADC56A/19B09094
.Rproj.user/35DCC852/sources/session-51ADC56A/19B09094-contents
.Rproj.user/35DCC852/sources/session-51ADC56A/28F1FBBC
.Rproj.user/35DCC852/sources/session-51ADC56A/28F1FBBC-contents
.Rproj.user/35DCC852/sources/session-51ADC56A/lock_file
.Rproj.user/shared/notebooks/06329003-README/1/35DCC852AB594631/chunks.json
.Rproj.user/shared/notebooks/06329003-README/1/35DCC852BDDDDF6A/chunks.json
.Rproj.user/shared/notebooks/06329003-README/1/s/c3fj9omg5f2yj/000017.csv
.Rproj.user/shared/notebooks/06329003-README/1/s/cbt6a3b7u762m/000011.csv
.Rproj.user/shared/notebooks/06329003-README/1/s/cbt6a3b7u762m/000012.error
.Rproj.user/shared/notebooks/06329003-README/1/s/cbt6a3b7u762m_t/cb1ffacbf1cb49b5b643d4eb84557de9.snapshot
.Rproj.user/shared/notebooks/06329003-README/1/s/chunks.json
.Rproj.user/shared/notebooks/06329003-README/1/s/cl4qrrklfajde/00000f.csv
.Rproj.user/shared/notebooks/06329003-README/1/s/crrjoaxk08qp4/00000f.csv
.Rproj.user/shared/notebooks/06329003-README/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/06329003-README/1/s/cwfmy6f7fxns6/00000f.csv
.Rproj.user/shared/notebooks/20D6EB54-README/1/35DCC85251ADC56A/chunks.json
.Rproj.user/shared/notebooks/20D6EB54-README/1/s/csetup_chunk/00000f.csv
.Rproj.user/shared/notebooks/paths
